<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net462" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NAudio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="Serilog" version="4.2.0" targetFramework="net48" />
  <package id="Serilog.Extensions.Logging" version="9.0.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.3" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net48" />
  <package id="System.Threading.Channels" version="9.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TwitchLib" version="3.5.3" targetFramework="net48" />
  <package id="TwitchLib.Api" version="3.8.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core" version="3.10.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Core.Enums" version="3.10.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Core.Interfaces" version="3.10.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Core.Models" version="3.10.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Enums" version="1.0.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Helix" version="3.10.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Helix.Models" version="3.10.0" targetFramework="net462" />
  <package id="TwitchLib.Client" version="4.0.0" targetFramework="net48" />
  <package id="TwitchLib.Client.Enums" version="4.0.0" targetFramework="net48" />
  <package id="TwitchLib.Client.Models" version="4.0.0" targetFramework="net48" />
  <package id="TwitchLib.Communication" version="2.0.1" targetFramework="net462" />
  <package id="TwitchLib.EventSub.Core" version="2.5.2" targetFramework="net462" />
  <package id="TwitchLib.EventSub.Websockets" version="0.5.0" targetFramework="net462" />
  <package id="TwitchLib.PubSub" version="3.2.6" targetFramework="net462" />
</packages>